<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="JonathanMartz_Developer::tab_index"
             title="Developer"
             module="JonathanMartz_Developer"
             sortOrder="1"
             resource="JonathanMartz_Developer::tab_index"/>
    </menu>
</config>
